boto3==1.12.9
botocore==1.15.9
certifi==2018.8.24
chardet==3.0.4
docutils==0.14
futures==3.2.0
idna==2.6
ims-python-helper>=1.4
ars-python-helper>=1.2
jmespath==0.9.4
oauthlib==2.1.0
python-dateutil==2.7.5
requests==2.19.1
requests-oauthlib==1.0.0
requests-toolbelt==0.9.1
s3transfer==0.3.0
six==1.11.0
urllib3==1.23
