# Only use Cray-procured packages
--trusted-host arti.dev.cray.com
--trusted-host artifactory.algol60.net
--index-url https://arti.dev.cray.com:443/artifactory/api/pypi/pypi-remote/simple
--extra-index-url http://artifactory.algol60.net/artifactory/csm-python-modules/simple
-c constraints.txt

ims-python-helper
requests
