# Only use Cray-procured packages
--trusted-host artifactory.algol60.net
--extra-index-url http://artifactory.algol60.net/artifactory/csm-python-modules/unstable
-c constraints.txt

ims-python-helper
requests
